* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    font-family: 'Roboto', sans-serif;
}

.p_name {
    font-size: 60px;
    font-weight: bold;
    left: 770px;
    top: 70px;
    border-radius: undefinedpx;
    padding-bottom: 30px;
    padding-top: 30px;
}

.for_15 {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0px auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0px auto;
}

.for_othet {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0px auto;
}

.box {
    margin-top: 30px;
    margin-left: 30px;
    height: 161px;
    width: 282px;
    border-radius: 10px;
    background-color: #F0F0F0;
    border: 2px solid #007FFF;
}

.info {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}

.name {
    padding-left: 15px;
    font-weight: bold;
    font-size: 20px;
}

.model {
    padding-left: 5px;
    font-weight: bold;
    font-size: 20px;
}

.kuzof {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}

.Vin {
    padding-left: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.55);
}

.nomer {
    padding-left: 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.55);
}

.god {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}

.Year {
    padding-left: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.55);
}

.chislo {
    padding-left: 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.55);
}

.btn {
    height: 42px;
    width: 232px;
    margin-left: 21px;
    margin-top: 15px;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: #0071E3;
    cursor: pointer;
}

.avto {
    color: #0071E3;
    font-weight: bold;
    padding-top: 20px;
    cursor: pointer;
}